@using RedmondTradeWork.Models.Entity;
@model  List<RedmondTradeWork.ViewModels.ContainerDetailsViewModel>
@{
    ViewBag.Title = "SearchDetails";
    Layout = "~/Views/Member/_MemberLayout - .cshtml";
}

<h2>SearchDetails</h2>



@using (Html.BeginForm("SearchDetails", "Member", FormMethod.Get))
{
    <div class="input-group mb-3">
        @Html.TextBox("srch", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Search..." }) &ensp;

        <button type="submit" class="btn btn-warning">Search</button>
    </div>
}


<a href="/Member/Search/" class="btn mb-1 btn-rounded btn-outline-warning">Come Back</a> &ensp;



<br />
<br />

<table class="table table-bordered">
    <tr>

        <th>Container No</th>
        <th>Product</th>
        <th>Unit</th>
        <th>Quantity</th>
        <th>Buyer Company</th>
        <th>Date</th>
        <th>Deport Port</th>
        <th>Nots</th>


    </tr>
    @foreach (var x in Model)
    {
        <tr>


            <td>@x.ContainerNo</td>
            <td>@x.Product</td>
            <td>@x.Unit</td>
            <td>@x.Quantity</td>
            <td>@x.BuyerCompany</td>
            <td>@x.Date.Value.ToString("dd-MMM-yyyy")</td>
            <td>@x.DeportunePort</td>
            <td>@x.Nots</td>







        </tr>

    }
</table>

