@using RedmondTradeWork.Models.Entity;
@model List<TblContainer>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Member/_MemberLayout - .cshtml";
}

<h2>Search</h2>



<br />
<br />

@using (Html.BeginForm("Search", "Member", FormMethod.Get))
{
    <div class="input-group mb-3">
        @Html.TextBox("search", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "search..." }) &ensp;

        <button type="submit" class="btn btn-warning">Search</button>
    </div>
}






<a href="https://www.searates.com/tr/container/tracking/" class="btn  btn-outline-danger" target="_blank">Tracking</a>
<br />
<br />

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Short Content</th>
        <th>Container No</th>
        <th>Date</th>
        <th>Deportune Port</th>
        <th>Who</th>
        <th>View</th>
     

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <th>@x.ID</th>
            <td>@x.Short_Content</td>
            <td style="display: flex; justify-content: space-between; align-items: center;">
                @x.ContainerNo
                <button class="btn btn-sm btn-outline-primary" onclick="copyToClipboard('@x.ContainerNo')">
                    <i class="fa fa-copy"></i>
                </button>

            </td>
            <td>@x.Date.Value.ToString("dd-MMM-yyyy")</td>
            <td>@x.Deportune_Port</td>
            <td>@x.Kim</td>



            <td><a href="/Member/SearchDetails/@x.ID" class="btn mb-1 btn-rounded btn-outline-dark">Detail</a></td>
       

        </tr>

    }
</table>

<script>
    function copyToClipboard(text) {
        navigator.clipboard.writeText(text).then(function () {
            alert("Kopyalandı: " + text);
        }).catch(function (err) {
            alert("Kopyalama başarısız oldu: " + err);
        });
    }
</script>