@using RedmondTradeWork.Models.Entity;
@model List<TblContainer>
@{
    ViewBag.Title = "AdminSearch";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Container</h2>


<a href="/Admin/InsertSearch/" class="btn  btn-outline-info">İnsert</a>
<br />
<br />


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Short Content</th>
        <th>Container No</th>
        <th>Date</th>
        <th>Deportune Port</th>
        <th>Who</th>
        <th>View</th>
        <th>Update</th>
        <th>Delete</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <th>@x.ID</th>
            <td>@x.Short_Content</td>
            <td>@x.ContainerNo</td>
            <td>@x.Date.Value.ToString("dd-MMM-yyyy")</td>
            <td>@x.Deportune_Port</td>
            <td>@x.Kim</td>



            <td><a href="/Admin/SearchDetails/@x.ID" class="btn mb-1 btn-rounded btn-outline-dark">Detail</a></td>
            <td><a href="/Admin/UpdateSearchPage/@x.ID" class="btn mb-1 btn-rounded btn-outline-success">Update</a></td>
            <td><a href="/Admin/DeleteSearch/@x.ID" class="btn mb-1 btn-rounded btn-outline-danger">Delete</a></td>

        </tr>

    }
</table>

