@using RedmondTradeWork.Models.Entity;
@model List<TblMainPage>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>page welcome partial</h2>
<br />

<table class="table table-bordered form-group">
    <tr>
       
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>1.Görsel</th>
        <th>2.Görsel</th>
        <th>3.Görsel</th>
        <th>Dil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
           
            <td>@x.Title</td>
            <td>@x.Description</td>
            <td>@x.Photo1</td>
            <td>@x.İmage2</td>
            <td>@x.image3</td>
            <td>@x.Language</td>
          
            <td><a href="/Admin/UpdateMainpage/@x.ID" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
          
        </tr>

    }
</table>

