@using RedmondTradeWork.Models.Entity;
@model  List<RedmondTradeWork.ViewModels.ContainerDetailsViewModel>
@{
    ViewBag.Title = "SearchDetails";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Conteiner Details</h2>
<a href="/Admin/AdminSearch/" class="btn mb-1 btn-rounded btn-outline-warning">Come Back</a> &ensp;

<a href="/Admin/InsertSearchDetail/@ViewBag.ContID" class="btn mb-1 btn-rounded btn-outline-info">İnsert</a>

<br />
<br />

<table class="table table-bordered">
    <tr>

        <th>Container No</th>
        <th>Product</th>
        <th>Unit</th>
        <th>Quantity</th>
        <th>Buyer Company</th>
        <th>Date</th>
        <th>Deport Port</th>
        <th>Nots</th>
        <th>Update</th>
        <th>Delete</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>


            <td>@x.ContainerNo</td>
            <td>@x.Product</td>
            <td>@x.Unit</td>
            <td>@x.Quantity</td>
            <td>@x.BuyerCompany</td>
            <td>@x.Date.Value.ToString("dd-MMM-yyyy")</td>
            <td>@x.DeportunePort</td>
            <td>@x.Nots</td>





            <td><a href="/Admin/UpdateSearchPageDetail/@x.ID" class="btn mb-1 btn-rounded btn-outline-success">Update</a></td>
            <td><a href="/Admin/DeleteSearchDetail/@x.ID" class="btn mb-1 btn-rounded btn-outline-danger">Delete</a></td>

        </tr>

    }
</table>

