@model RedmondTradeWork.Models.Entity.TblMainPage
@{
    ViewBag.Title = "UpdateMainpage";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Welcome Update Page</h2>




<br />

@using (Html.BeginForm("UpdateMainpages", "Admin", FormMethod.Post))
{

    @Html.HiddenFor(x => x.ID) // hiddenfor arka planda çalışacak anlamında
    <br />

    @Html.Label("Başlık")
    @Html.TextBoxFor(x =>x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Aciklama")
    @Html.TextAreaFor(x => x.Description, 10, 4, new { @class = "form-control" })
    <br />
    
    <br />
    @Html.Label("1.Görsel")
    @Html.TextBoxFor(x => x.Photo1 , new { @class = "form-control" })
    <br />

    <br />
    @Html.Label("2.Görsel")
    @Html.TextBoxFor(x => x.İmage2 , new { @class = "form-control" })
    <br />

    <br />
    @Html.Label("3.Görsel")
    @Html.TextBoxFor(x => x.image3 , new { @class = "form-control" })
    <br />
    <button class="btn btn-primary"> Değişiklikleri Kaydet </button>

}
