@using RedmondTradeWork.Models.Entity;
@model TblAdmin
@{
    ViewBag.Title = "UpdateRole";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>UpdateRole</h2>



@using (Html.BeginForm("UpdateRoles", "Admin", FormMethod.Post))
{

    @Html.HiddenFor(x => x.ID) // hiddenfor arka planda çalışacak anlamında
    <br />

    @Html.Label("İsim")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />

    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />


    <button class="btn btn-primary"> Değişiklikleri Kaydet </button>

}
