@using RedmondTradeWork.Models.Entity;
@model TblContainer
@{
    ViewBag.Title = "UpdateSearchPage";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>UpdateSearchPage</h2>




@using (Html.BeginForm("UpdateSearchPage", "Admin", FormMethod.Post))
{

    @Html.HiddenFor(x => x.ID) // hiddenfor arka planda çalışacak anlamında
    <br />


    @Html.Label("Short Content")
    @Html.TextBoxFor(x => x.Short_Content, new { @class = "form-control" })
    <br />

    @Html.Label("Container No")
    @Html.TextBoxFor(x => x.ContainerNo, new { @class = "form-control" })
    <br />

    @Html.Label("Date")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control", type = "date" })
    <br />
    @Html.Label("Deportune Port")
    @Html.TextAreaFor(x => x.Deportune_Port, new { @class = "form-control" })
    <br />

    @Html.Label("Who")
    @Html.TextAreaFor(x => x.Kim, new { @class = "form-control" })
    <br />

    // dropdwondlist gelcek ilgili alanlara 

    <button class="btn btn-primary"> Değişiklikleri Kaydet </button>

}
